/*index css*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 10px;
    background-color: azure;
}

header {
    background-color: gainsboro;
    padding: 5px;

}

.h1-logo-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}


h1 {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header li {
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 1px solid rgb(112, 107, 107);
    justify-content: space-around;
}

.header-logo {
    width: 3rem;
    padding-bottom: 5px;
}


/*seccion vision y motivacion*/


.h2-titulo {
    padding-bottom: 10px;
}

.mis-proyectos-contenedor {

    padding-bottom: 10px;
    text-align: center;
}

.vision-motivacion-contenedor {
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.vision-motivacion-video-parrafo-contenedor {
    display: flex;
    position: relative;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-bottom: 56.25%;
    z-index: 10;
    width: 100%;


}



.video-vision-motivacion {
    width: 100%;
    position: absolute;
}

.parrafo-vision-motivacion {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: aliceblue;
    width: 100%;
    font-size: 0.9rem;
    height: 100%;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;

}

/*seccion mis proyectos*/

.mis-proyectos-contenedor {
    margin-top: 20px;
}

.imagenes-mis-proyectos {
    width: 100%;
    padding: 20px;
}

.index-misproyectos-parrafos {

    padding: 10px;

}

/*mis proyectos pagina css*/

.pagina-mis-proyectos-contenedor {

    display: grid;
    padding: 30px;

}

.pagina-mis-proyectos-articulos {

    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    padding: 25px;
    gap: 50px;
    text-align:center;
}
.pagina-mis-proyectos-imagen {
    
    width: 100%;
}



@media (min-width: 768px) {

    /*seccion header*/

header ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid rgb(112, 107, 107);
}

header li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.header-logo {

    width: 5rem;
}

/*seccion  vision*/


.video-vision-motivacion {
    width: 100%;
    position: absolute;
}

.parrafo-vision-motivacion {

    width: 100%;
    font-size: 2rem;
    padding: 100px;
}

/*seccion mis proyectos*/

.h2-mis-proyectos {
    grid-column: 1/4;
    align-self: center;
    align-items: center;
    justify-content: center;
}


.mis-proyectos-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.imagenes-mis-proyectos {
    width: 100%;
    padding: 20px;
}

.index-misproyectos-parrafos {

    padding: 10px;

}

/*mis proyectos pagina css*/

.pagina-mis-proyectos-contenedor {


    padding: 30px;

}

.pagina-mis-proyectos-articulos {

    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 25px;
    gap: 50px;
}
}