a {
    text-decoration: none;
}

body {
    background-color: azure;
}

header {
    height: 10%;
    background-color: gainsboro;
    padding: 5px;
    
}

header li {

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

header img {

    width: 12%;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2-index {

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;


}


.index-misproyectos-parrafos {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}